* {
	font-family: arial, helvetica, sans-serif;
	color: #333;
}

body {
	background-color: #eee;
}

p {
	margin: 0% auto;
	font-size:14px;
	line-height:18px;
	padding: 5px;
}

a, :visited, :before, :after {
	text-decoration: none;
	color: #2088e3;
}

a:hover {
	text-decoration: underline;
}

.guest-book {
	font-family: Snell Roundhand, cursive!important;
	font-style: italic;
	font-variant: small-caps;
	color: darkblue;
}

input {
	margin: 0% auto;
	display: inline-block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance:textfield;
}
